{% extends "login.html" %}
    {% block subject %}
        <h3>Reset Password</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>

    {% endblock %}


    {% block content %}
        <form method="post">
                {% csrf_token %}
                <div class="form-group first">
                <label for="email"> Email</label>
                <input type="text" class="form-control" id="email" name="email">
                </div>
                <input type="submit" value="Reset password" class="btn btn-block btn-primary">
        </form>
          {% if form.errors %}
                 <div class="alert alert-warning">
                    {% for name,item in form.errors.items %}
                            <p> {{name|capfirst|cut:"1"|cut:"2"}}: {{item|striptags}}</p>
                    {% endfor %}
                 </div>
            {% endif %}
    {% endblock %}

