{% extends "login.html" %}

    {% block subject %}
        <h3>New Password</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.<
    {% endblock %}

    {% block content %}
        {% if validlink %}

        <form method="post">
                {% csrf_token %}
                <div class="form-group first">
                <label for="email">Password</label>
                <input type="password" class="form-control" id="email" name="new_password1">
                </div>
                <div class="form-group first">
                <label for="email">Password Conformation</label>
                <input type="password" class="form-control" id="email" name="new_password2">
                </div>
                <input type="submit" value="Change Password" class="btn btn-block btn-primary">
        </form>
                {% if form.errors %}
                <div class="alert alert-warning">
                {{ form.errors }}
                </div>
                {% endif %}
        {% else %}
            <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
          </div>
        {% endif %}

    {% endblock %}

